<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Sharian Johnson</h1>
 <p>I'm an avid reader and a formula 1 and tennis lover. My current faves include The Miseducation of Lauryn Hill, Flower Boy. I enjoy watching old sitcoms, action movies that are not too gory and corny romance films. My Favorite app is Pinterest due to its peaceful and aesthetic nature. I would love to work in the network engineering, ML/AI or Data Analytics field.</p>
</body>
</html>